[submodule "core"]
	path = src/core
	url = git@github.com:fpringle/strawberryCore.git
[submodule "gui"]
	path = src/gui
	url = git@github.com:fpringle/strawberryGUI.git
[submodule "uci"]
	path = src/uci
	url = git@github.com:fpringle/strawberryUCI.git
